@model List<ReporterDay.EntityLayer.Entities.Article>

<div class="recent-posts-widget widget-item">

    <h3 class="widget-title">Son Makaleler</h3>

    @foreach (var item in Model)
    {
        var cover = string.IsNullOrWhiteSpace(item.CoverImageUrl)
        ? "/images/no-image.jpg"
        : item.CoverImageUrl;

        <div class="post-item">
            <img src="@cover" alt="@item.Title" class="flex-shrink-0">

            <div>
                <h4>
                    <a href="/article/@item.Slug">@item.Title</a>
                </h4>

                <time datetime="@item.CreatedDate.ToString("yyyy-MM-dd")">
                    @item.CreatedDate.ToString("dd.MM.yyyy")
                </time>
            </div>
        </div>
    }

</div>
